env:
  NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
  NPM_PASSWORD: ${{ secrets.NPM_PASSWORD }}
  NPM_USERNAME: ${{ secrets.NPM_USERNAME }}
jobs:
  Deploy-To-dev:
    environment:
      name: dev
    name: Deploy to dev
    needs:
      - Test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::494055087689:role/GH_ACTION_BEATS_NEXTJS_REPO
          aws-region: us-east-1
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          if_key_exists: fail
          key: ${{ secrets.SSH_DEPLOY_KEY }}
          known_hosts: github.com
          name: id_rsa
      - name: Install terraform
        uses: little-core-labs/install-terraform@v2.0.0
        with:
          version: 0.14.8
      - uses: c-hive/gha-yarn-cache@v2
      - env:
          ENV: dev
        name: Install and Deploy
        id: affected
        run: |-
          yarn install
          NODE_ENV=dev yarn nx affected --target=build --base=$(git rev-parse @~) HEAD=$GITHUB_REF
          echo "GITHUB_PROJECT_RUN=$(npx nx print-affected --base="$(git rev-parse @~)" head=$GITHUB_REF --select=projects --exclude=web-e2e )" >> $GITHUB_ENV
      - name: Check if run project
        if: contains(env.GITHUB_PROJECT_RUN, 'web')
        run: |-
          echo $GITHUB_PROJECT_RUN
  Deploy-To-qa:
    environment:
      name: qa
    name: Deploy to qa
    needs:
      - Deploy-To-dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-region: us-east-1
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - uses: c-hive/gha-yarn-cache@v2
      - env:
          ENV: qa
        name: Install and Deploy
        run: |-
          yarn install
          NODE_ENV=qa yarn nx affected --target=build --base=$(git rev-parse @~) HEAD=$GITHUB_REF
          yarn nx affected --target=deploy --base=$(git rev-parse @~) HEAD=$GITHUB_REF --env=qa
  Test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          token: ${{ secrets.GITHUB_TOKEN }}
name: Continious Integration
on:
  push:
    branches:
      - main
