
name: pr builds for dev
on:
  push:
    branches:
      - main
  pull_request_target:
    branches: [ main ]

jobs:
  nonprod-pr-dev:
    uses: ./.github/workflows/ci.yml
    with:
      service-env: dev
